body {
    background-image: url(/static/photos/background-images/profile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    }
.profile-picture {
    border-radius: 50%;
}
hr {
    background-color: mintcream;
}
.image {
opacity: 1;
padding-right: 93px;
}
.image:hover {
opacity: 0.5;
}
.fa-pencil-square-o {
    cursor: grabbing;
}
.fa-pencil-square-o:hover {
    background-color: red;
}